.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(247, 245, 245);
  }
  .login-logo {
    margin-top: 80px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
  }
  .login-container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid rgb(29, 25, 25);
    background-color: white;
    padding: 30px;
  }
  .login-container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
  }
  .login-container > form > h5 {
    margin-bottom: 5px;
  }
  .login-container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
    border-radius: 5px;
  }
  .login-container p {
    font-size: 14px;
    margin-top: 16px;
  }
  .login-signInBtn {
    background-color: #cd9042;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
    width: 100%;
    height: 30px;
    border-radius: 5px;
  }
  .login-registerBtn {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid darkgray;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }